/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.components-panel__body {
	// possible make this layout better with https://geary.co/internal-borders-css-grid/
	& .block-editor-repeater {
		--gap: 2rem;
		--line-offset: calc(var(--gap) / 2);
		--line-thickness: 2px;
		--line-color: red;

		display: grid;
		grid-template-columns: 30px 1fr;
		gap: var(--gap);

		& .components-button {
			grid-column: 2;
		}

	}
}
